.super-mario{
    width: 400px;
    height: 400px;
    position: absolute;
}

.goomba{
    width: 400px;
    height: 400px;
    position: relative;
    left:10px;
    top: 410px;
}

.bowser{
    position: absolute;
    left: 800px;
    top: 20px;
}

.baloon{
    position:absolute;
    left: 497px;
    top: 200px;
}

.word {
    position: absolute;
    left: 525px;
    top: 242px;
    z-index: 1;
    font-size: x-large;
}
