header{
    font-size: 65px;
    text-align: center;
}

#navegacao{
    width: 170px;
    display: inline-block;
}

#resumo{
    float: right;
    display: inline-block;
    width: 290px;
}

h1{
    display: inline-block;
    font-size: 32px;
    height: 10px;

}

main {
    width: 1400px;
    text-align: justify;
    display: inline-block;
    background-color: rgb(161, 206, 250);
    vertical-align: top;
    padding: 10px;
    margin: 20px red;
}

ul {
    background-color: rgb(223, 221, 221);
}

li{
    display: block;
    text-align: left;
}

a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

a:hover {
    text-decoration:underline;
}

.div1{
    width: 220px;
    height: 180px;
}